<p id="notice"><%= notice %></p>

<p>
  <strong>Rate:</strong>
  <%= @item_ranking.rate %>
</p>

<p>
  <strong>Item:</strong>
  <%= @item_ranking.item %>
</p>

<%= link_to 'Edit', edit_item_ranking_path(@item_ranking) %> |
<%= link_to 'Back', item_rankings_path %>
